<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="createcontent2">
      <h2>404 ERROR PAGE NOT FOUND!</h2>
    </div>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
